	header {
  padding-top: 5em;
  background-image: url("coins.png");
  border-radius:         10px;
}

header img {
  padding-left: 11em;
}

nav {
  float: center;
}
nav {
  background-color: gold;
  padding: 5 0.7em;
  white-space: nowrap;
  text-align: center;
  display: block;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 1.2em 0;
}

nav ul li a {
  padding: 0 10em;
  font-weight: bold;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

error {
  width: 710px;
  
}
error pym {
  color:black;
  font-weight: bold;
  text-align: center;
  display: block;
}
error img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
p {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}
p1 {
  font-size: 120%;
  margin-left: auto;
  margin-right: auto;
    
}

section h1 {
  font-size: 150%;
  text-align: center;
  float: center;
  width: 100%;
  height: 60px;
}
a.command_button {
  display: block;
  text-align: center;
  width: 50px;
  color: black;
  font-size: 70%;
  padding: 15px;
}
table.profile {
  width: 100%;
  margin-bottom: 0;
  
}
table {
  padding: 1em;
  vertical-align: top;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  }

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
  text-align: center;
  display: inline-block;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

table thead  {
color: green;
}

.calendar_date_select {
  color:white;
  border:#777 1px solid;
  display:block;
  width:195px;
  z-index: 1000;
}
/* this is a fun ie6 hack to get drop downs to stay behind the popup window.  This should always be just underneath .calendar_date_select */
iframe.ie6_blocker {
  position: absolute;
  z-index: 999;
}

.calendar_date_select thead th {
  font-weight:bold;
  background-color: #000;
  border-top:1px solid #777;
  border-bottom:2px solid #333;
  color: white !important;
}

.calendar_date_select .cds_buttons {
  text-align:center;
  padding:5px 0px;
  background-color: #555;
}

.calendar_date_select .cds_footer {
  background-color: black;
  padding:3px;
  font-size:12px;
  text-align:center;
}

.calendar_date_select table {
  margin: 0px;
  padding: 0px;
}


.calendar_date_select .cds_header {
  background-color: #ccc;
  border-bottom: 2px solid #aaa;
  text-align:center;
}

.calendar_date_select .cds_header span {
  font-size:15px;
  color: black;
  font-weight: bold;
}

.calendar_date_select select { font-size:11px;}

.calendar_date_select .cds_header a:hover {
  color: white;
}
.calendar_date_select .cds_header a {
  width:22px;
  height:20px;
  text-decoration: none;
  font-size:14px;
  color:black !important;
}

.calendar_date_select .cds_header a.prev {
  float:left;
}
.calendar_date_select .cds_header a.next {
  float:right;
}
.calendar_date_select .cds_header a.close {
  float:right;
  display:none;
}

.calendar_date_select .cds_header select.month {
  width:90px;
}

.calendar_date_select .cds_header select.year {
  width:61px;
}

.calendar_date_select .cds_buttons a {
  color: white;
  font-size: 9px;
}
.calendar_date_select td {
  font-size:12px;
  width: 24px;
  height: 21px;
  text-align:center;
  vertical-align: middle;
  background-color: #666666;
}
.calendar_date_select td.weekend {
  background-color: #606060;
}

.calendar_date_select td div {
  color: #fff;
}
.calendar_date_select td div.other {
  color: #888;
}
.calendar_date_select td.selected div {
  color:black;
}

.calendar_date_select tbody td {
  border-bottom: 1px solid #555;
}
.calendar_date_select td.selected {
  background-color:white;
}

.calendar_date_select td:hover {
  background-color:#ccc;
}

.calendar_date_select td.today {
  border: 1px dashed #999;
}

.calendar_date_select td.disabled div {
  color: #454545;
}


.fieldWithErrors .calendar_date_select {
  border: 2px solid red;
}

