<h1>Добро пожаловать в каталог покупок</h1>
<%= link_to "Добавить", '#', :class => "command_button round" %>
<%= link_to "Изменить", '#', :class => "command_button round" %>
<%= link_to "Удалить", '#', :class => "command_button round" %>


