<h1>Все</h1>
<%= button_to 'Add account', { :action => :new }, :method => :get %>
<table>
	<tr>
		<th>Account</th></br>
		<th>Ballance</th></br>
	</tr>	
			<% @payments.each do |payment| %>
	<tr>
		<td><%= payment.account %></td>
		<td><%= payment.ballance %></td>
		<td><%= button_to 'Delete', { :action => :destroy, :id => payment.id }, :method => :delete, :confirm => 'Честно?' %></td>
	</tr>
	<% end %>
</table>