<error>
  <%= image_tag ("antipigg.png"), :alt=> 'Ой!', :class => "round" %>
   <pym class = "round">Копилка против IE, пожалуйста, для дальнейшей работы воспользуйтесь <a href= "https://www.google.com/intl/ru/chrome/browser/?hl=ru"> Goggle Chrome </a> или <a href= "http://www.mozilla.org/uk/firefox/fx/">Firefox</a> 
    </pym>
</error>
   
