<header>
<nav class="round">
    <ul>
      <li><%= link_to "Операции", '#' %></li>
      <li><%= link_to "Счета", account_path %></li>
      <li><%= link_to "Отчёты", '#' %></li>
    </ul>
  </nav>
</header>