<header>
<nav class="round">
    <ul>
      <li><%= link_to "Оформить покупки", buy_path %></li>
      <li><%= link_to "Управление счетами", account_path %></li>
      <li><%= link_to "История операций", report_path %></li>
    </ul>
  </nav>
</header>